.creative_kids{
	font-size: 0;
	>div{
		display: inline-block;
	}
}

.left__creative_kids{
	max-width: 47.2%;
	width: 100%;
	padding-right: 43px;
	vertical-align: top;
	height: 1030px;
}

.right__creative_kids{
	max-width: 44.7%;
	width: 100%;
}

.bottom__creative_kids{
	position: absolute;
	bottom: 49px;
	left: 73px;
	font-size: 0;
	width: 100%;
}

.title__creative_kids{
	font-size: 36px;
	line-height: normal;
	font-family: $ar;
	color: #fff;
	padding-top: 496px;
}

.text__crative_kids{
	font-size: 16px;
	color: #fff;
	font-family: $ar;
	line-height: 1.75;
	margin-top: 27px;
}

.owl-creative_kids{
	height: 100%;
	.owl-stage-outer, .owl-stage, .owl-item{
		height: 100%;
	}
	.animated{
		animation-duration: 1000ms;
	}
	.item{
		background-color: rgba(159,108,68,0.5);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding-left: 73px;
		height: 100%;
		>.text{
			max-width: 310px;
			width: 100%;
		}
	}
	.owl-dots{
		position: absolute;
		bottom: 56px;
		right: 73px;
		>div{
			width: 13px;
			height: 13px;
			background: #9f6c44;
			border-radius: 50%;
			margin-right: 8.5px;
			display: inline-block;
			&:last-child{
				margin-right: 0;
			}
			&.active{
				background: #e0e0e0;
			}
		}
	}
}

.img_block{
	background: #9f6c44;
	width: 100%;
	height: 201px;
	font-size: 0;
	img{
		width: 100%;
		height: 100%;
		object-fit:cover;
		-o-object-fit:cover;
	}
}

.date_block{
	font-size: 16px;
	line-height: 1.75;
	color: #9f6c44;
	margin-top: 11px;
}

.text_block{
	margin-top: 2.9px;
	font-size: 16px;
	line-height: 1.75;
	font-family: $ar;
	color: #fff;
}

.wrap__colloms_creative_kids{
	>div{
		margin-bottom: 29.1px;
		&:last-child, &:nth-last-child(2){
			margin-bottom: 0;
		}
	}
}

@media only screen and (max-width: 1280px) {
	.right__creative_kids{
		max-width: 50%;
		padding-right: 15px;
	}
	.left__creative_kids{
		max-width: 50%;
	}
}

@media only screen and (max-width: 1100px) {
	.right__creative_kids{
		padding-left: 15px;
	}
	.left__creative_kids{
		padding-right: 0;
	}
}

@media only screen and (max-width: 991px) {
	.creative_kids{
		>div{
			display: block;
		}
	}
	.left__creative_kids{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		height: auto;
		margin-bottom: 31px;
	}
	.title__creative_kids{
		padding: 0;
	}
	.owl-creative_kids{
		.item{
			padding: 0 20px;
			padding-top: 156px;
			padding-bottom: 26px;
		}
		.owl-dots{
			bottom: 34px;
			right: 37px;
		}
	}
	.bottom__creative_kids{
		padding-top: 19px;
		position: static;
	}
	.text__crative_kids{
		margin-top: 5px;
	}
	.right__creative_kids{
		max-width: 100%;
	}
	.img_block{
		height: 250px;
	}
	.wrap__colloms_creative_kids>div{
		margin-bottom: 14px;
		&:nth-last-child(2){
			margin-bottom: 14px;
		}
		&:last-child{
			margin-bottom: 26px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.img_block{
		height: 182px;
	}
	.wrap__colloms_creative_kids>div{
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	.wrap__colloms_creative_kids>div{
		width: 100%;
		max-width: 310px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.date_block{
		margin-top: 10px;
		font-size: 14px;
	}
	.text_block{
		margin-top: 2px;
		font-size: 14px;
		line-height: 1.43;
	}
}