$ar: 'AvenirNext-Regular', sans-serif;
$ab: 'AvenirNext-Bold', sans-serif;
$abi: 'AvenirNext-BoldItalic', sans-serif;
$ai: 'AvenirNext-Italic', sans-serif;

@import 'fonts.css';
@import 'scss/_normalize.scss';
@import 'scss/common_styles.scss';
@import 'scss/header.scss';
@import 'scss/creative_kids.scss';
@import 'scss/live_foto_feed.scss';
@import 'scss/participants.scss';
@import 'scss/education.scss';
@import 'scss/news.scss';
@import 'scss/creative_teens.scss';
@import 'scss/footer.scss';